.page
  %div Add the users you'd like to score:

  %form
    %label{:for => 'user_name'} Username
    %input{:id => 'user_name', 'ng-model' => 'newUser'}
    %button{:id => 'add_user_name', 'ng-click' => 'addUser()', 'ng-disabled' => 'disableAddUser()'} Add user

  %error-message
  %user-scores
