%div
  %h3 Scores:
  %table
    %thead
      %th Username
      %th Score
    %tbody
      %tr{'ng-repeat' => 'userScore in scoreReport'}
        %td {{ userScore.username }}
        %td {{ userScore.score }}
